.kui-list-inset-text,
.kui-list-inset-text--horizontal {
  margin: 0;
  border: 0 solid transparent;
  padding: 0;
}

.kui-list-inset-text[data-sides*="t"] {
  margin-top: var(--kui-layout-inline-margin, remify(8px));
  border-top-width: 1px;
  padding-top: var(--kui-layout-item-padding, remify(8px));
}

.kui-list-inset-text[data-sides*="r"] {
  margin-right: var(--kui-layout-inline-margin, remify(8px));
  border-right-width: 1px;
  padding-right: var(--kui-layout-item-padding, remify(8px));
}

.kui-list-inset-text[data-sides*="b"] {
  margin-bottom: var(--kui-layout-inline-margin, remify(8px));
  border-bottom-width: 1px;
  padding-bottom: var(--kui-layout-item-padding, remify(8px));
}

.kui-list-inset-text[data-sides*="l"] {
  margin-left: var(--kui-layout-inline-margin, remify(8px));
  border-left-width: 1px;
  padding-left: var(--kui-layout-item-padding, remify(8px));
}
