.kui-page-header {
  --kui-page-header-background: transparent;
  --kui-page-header-border: transparent;
  --kui-page-header-foreground: var(--kui-color-text);
  display: flex;
  min-height: remify(44px);
  margin-inline: var(--kui-layout-inline-margin, remify(8px));
  padding: var(--kui-layout-item-padding, remify(8px));
  box-sizing: border-box;
  border: 1px solid var(--kui-page-header-border);
  border-radius: var(--kui-layout-rounded-radius, calc(1px + remify(11px)));
  color: var(--kui-page-header-foreground);
  background: var(--kui-page-header-background);
  align-items: center;
  justify-content: space-between;
  gap: var(--kui-layout-item-gap, remify(8px));
}
.kui-page-header h1 {
  margin: 0;
  color: inherit;
  font-size: clamp(var(--kui-font-l), 2.3vw, var(--kui-font-2xl));
  letter-spacing: -0.025em;
}
.kui-page-header__action {
  flex: none;
}
