.kui-toolbar {
  display: grid;
  width: 100%;
  min-height: calc(
    var(--kui-toolbar-group-size, calc(2px + remify(42px))) +
      (2 * var(--kui-toolbar-gap, remify(8px)))
  );
  padding: var(--kui-toolbar-gap, remify(8px));
  box-sizing: border-box;
  color: var(--kui-color-text);
  background: transparent;
  grid-template-columns: auto minmax(0, 1fr) auto;
  align-items: center;
  gap: var(--kui-toolbar-gap, remify(8px));
  container: kui-toolbar / inline-size;
  font-family: var(--kui-font-sans);
}

.kui-toolbar[data-has-center="false"] {
  grid-template-columns: minmax(0, 1fr) auto;
}

.kui-toolbar[data-divider="true"] {
  box-shadow: inset 0 -1px var(--kui-color-border);
}

.kui-toolbar__leading,
.kui-toolbar__center,
.kui-toolbar__trailing {
  display: flex;
  min-width: 0;
  align-items: center;
  gap: var(--kui-toolbar-gap, remify(8px));
}

.kui-toolbar__leading {
  overflow: hidden;
}

.kui-toolbar__center {
  justify-content: center;
}

.kui-toolbar__trailing {
  justify-content: flex-end;
}

.kui-toolbar[data-has-center="false"] .kui-toolbar__center,
.kui-toolbar__leading:empty,
.kui-toolbar__trailing:empty {
  display: none;
}
