.kui-value-table {
  --kui-value-table-background: var(--kui-color-surface-lowered);
  --kui-value-table-border: var(--kui-color-border);
  display: grid;
  margin-block: 0;
  margin-inline: var(--kui-layout-inline-margin, remify(8px));
  overflow: hidden;
  border: 1px solid var(--kui-value-table-border);
  border-radius: var(--kui-layout-rounded-radius, calc(1px + remify(11px)));
  background: var(--kui-value-table-background);
}
.kui-value-table > div {
  position: relative;
  display: grid;
  min-height: remify(40.8px);
  padding: var(--kui-layout-item-padding, remify(8px));
  box-sizing: border-box;
  grid-template-columns: minmax(remify(96px), auto) minmax(0, 1fr);
  align-items: center;
  gap: var(--kui-layout-item-gap, remify(8px));
}
.kui-value-table > div + div::before {
  position: absolute;
  top: 0;
  right: var(--kui-space-m);
  left: var(--kui-space-m);
  border-top: 1px solid var(--kui-value-table-border);
  content: "";
}
.kui-value-table dt {
  color: var(--kui-color-text-quiet);
}
.kui-value-table dd {
  display: flex;
  min-width: 0;
  margin: 0;
  overflow-wrap: anywhere;
  color: var(--kui-color-text);
  align-items: center;
  justify-content: flex-end;
  gap: var(--kui-space-2xs);
  font-weight: var(--kui-font-weight-semibold);
  text-align: end;
}
