.demo-list-header-inline-context {
  min-width: 0;
}

.demo-list-header-inline-context__prefix {
  margin-inline-end: var(--kui-layout-item-gap, remify(8px));
}

.demo-list-header-inline-context__suffix {
  margin-inline-start: var(--kui-layout-item-gap, remify(8px));
}
